.myname {
    text-align: center;
    color: rgba(78, 95, 111, 0.774);
    font-size: 40px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .Objectives {
    border-top: 10px;
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(43, 44, 44, 0.414);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  .AcadamicQualifications {
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(43, 44, 44, 0.414);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .TechSkills {
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: rgb(255, 255, 255);
    background-color: rgba(43, 44, 44, 0.414);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .tech{
    /* margin-left: 10px; */
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }
  
  .hobbies {
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(43, 44, 44, 0.414);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .gmail {
      color: rgba(62, 89, 85, 0.657);
    text-align: center;
    margin-top: 10px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  }
  .careerObj {
    margin-top: -1px;
    margin-left: 70px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  table {
    background-color: rgba(205, 198, 198, 0.323);
    margin-left: 4%;
    width: 80%;
    height: 130pt;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  }
  
  #Acadamic {
    background-color: rgba(255, 255, 255, 0.049);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  }
  
  .hobbytxt{
    margin-left:62px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
  
  }
  
  .personal {
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(43, 44, 44, 0.414);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .details {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    /* margin: 40px; */
    margin-left:72px;
  }
  
  .experience {
    color: rgb(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    background-color: rgba(43, 44, 44, 0.414);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  .experiencetxt {
    margin: 40px;
    margin-left: 70px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  
  }
  
  .morphism {
    margin: 7%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 15px solid rgba(255, 255, 255, 0.18);
  }
  
  body {
      background-size: 300%;
    background-image: url(aes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
  
  }
  
  .download {
    background-color:rgba(242, 205, 159, 0.428);
    text-align: center;
  
  }
  
